<button
  class="cursor-pointer"
  type="button"
  commandfor="cart-drawer"
  command="show-modal"
>
  Cart
  <span data-cart-count class="{% unless cart.item_count > 0 %} hidden {% endunless %}">({{ cart.item_count }})</span>
</button>

<dialog
  id="cart-drawer"
  class="anim-fade-to-l fixed inset-y-0 right-0 m-0 ml-auto w-full max-w-lg min-h-svh bg-background pb-[env(safe-area-inset-bottom)] backdrop:transition-opacity backdrop:starting:opacity-0"
  closedby="any"
  data-section-id="{{ section_id }}"
>
  <header class="sticky top-0 z-1 bg-background flex items-center gap-4 justify-between p-4 border-b">
    <a href="{{ routes.cart_url }}" class="block py-1 hover:underline">
      Cart
    </a>

    <button
      class="cursor-pointer"
      type="button"
      commandfor="cart-drawer"
      command="close"
      aria-label="Close cart"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>
  </header>

  <div class="p-4" data-cart-lines>
    {%- render 'cart-line-items' -%}
  </div>
</dialog>
