{%- assign class = class | prepend: 'grid gap-2 ' -%}

{% form 'contact', class: class %}
  {{ form.errors | default_errors }}

  {%- if form.posted_successfully? -%}
    <p>Thanks for subscribing.</p>
  {%- endif -%}

  <label>
    <span class="sr-only">Email</span>
    <input
      class="w-full p-[.25em_.5em] border"
      type="email"
      name="contact[email]"
      autocomplete="email"
      placeholder="Email"
      required
    >
  </label>

  <button class="action w-full" type="submit">
    Subscribe
  </button>
{% endform %}
