<h1 class="h0 text-balance">{{ article.title }}</h1>

{% schema %}
{
  "name": "Title",
  "settings": [],
  "presets": [
    {
      "name": "Title",
      "category": "Article"
    }
  ]
}
{% endschema %}
