<li class="group/card relative grid gap-2 leading-tight *:not-[:is(.article-image,.article-title)]:text-sm">
  {% content_for 'blocks', closest.article: closest.article %}

  {% if block.settings.enable_link %}
    <a href="{{ closest.article.url }}" class="absolute inset-0 text-transparent">
      {{ closest.article.title }}
    </a>
  {% endif %}
</li>

{% schema %}
{
  "name": "Article card",
  "tag": "article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_link",
      "label": "Enable link",
      "default": true
    },
  ],
  "blocks": [
    { "type": "_article-image" },
    { "type": "_article-title" },
    { "type": "_article-excerpt" },
    { "type": "_article-date" },
    { "type": "_article-author" }
  ],
  "presets": [
    {
      "name": "Article card",
      "category": "Article",
      "blocks": {
        "article_image": {
          "type": "_article-image",
          "name": "Image",
          "settings": {
            "aspect_ratio": "4 / 3"
          },
          "blocks": {}
        },
        "article_title": {
          "type": "_article-title",
          "name": "Title",
          "settings": {},
          "blocks": {}
        },
        "article_excerpt": {
          "type": "_article-excerpt",
          "name": "Excerpt",
          "settings": {
            "enable_line_clamp": true,
            "line_clamp": 3
          },
          "blocks": {}
        },
        "article_date": {
          "type": "_article-date",
          "name": "Date",
          "settings": {},
          "blocks": {}
        },
      },
      "block_order": [
        "article_image",
        "article_title",
        "article_excerpt",
        "article_date",
      ]
    }
  ]
}
{% endschema %}
