<div class="group/card relative grid md:grid-cols-2 md:items-center gap-lh">
  <figure class="group-hover/card:brightness-110 transition-[filter] max-md:full-bleed">
    {{ closest.article.image
      | image_url: width: 1600
      | image_tag: class: 'w-full object-cover', loading: 'eager', draggable: 'false'
    }}
  </figure>

  <div class="grid gap-2 leading-tight [&_.article-title]:h0">
    {% content_for 'blocks', closest.article: closest.article %}
  </div>

  <a href="{{ closest.article.url }}" class="absolute inset-0 text-transparent">
    {{ closest.article.title }}
  </a>
</div>

{% schema %}
{
  "name": "Featured article",
  "tag": "article",
  "class": "featured-article",
  "settings": [],
  "blocks": [
    { "type": "_article-image" },
    { "type": "_article-title" },
    { "type": "_article-excerpt" },
    { "type": "_article-date" },
    { "type": "_article-author" },
    { "type": "_article-tags" },
    { "type": "_article-group" },
  ],
  "presets": [
    {
      "name": "Featured article",
      "category": "Article",
      "blocks": {}
    }
  ]
}
{% endschema %}
