<a href="{{ closest.product.url }}" class="after:absolute after:inset-0">
  {{ closest.product.title }}
</a>

{% schema %}
{
  "name": "Title",
  "settings": [],
  "presets": [{ "name": "Title" }]
}
{% endschema %}
