<div class="button-list flex flex-wrap items-center gap-[.25em_.5em] max-md:*:w-full">
  {% content_for 'blocks' %}
</div>

<style>
  @scope {
    .button-list {
      justify-content: {{ block.settings.justify_content }};
    }
  }
</style>

{% schema %}
{
  "name": "Button list",
  "settings": [
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        }
      ],
      "default": "start"
    }
  ],
  "blocks": [{ "type": "_button" }],
  "presets": [
    {
      "name": "Button list",
      "blocks": [
        {
          "type": "_button",
          "settings": {
            "label": "Shop now"
          }
        }
      ]
    }
  ]
}
{% endschema %}
