<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% render 'metadata' %}

  {% render 'css-variables' %}
  {% render 'fonts' %}
  {{ 'tailwind.min.css' | asset_url | stylesheet_tag: preload: true }}

  {{ content_for_header }}
</head>
<body>
  <main>
    {{ content_for_layout }}
  </main>
</body>
</html>
