<header class="prose">
  {%- content_for 'blocks' -%}
</header>

<ul class="article-list carousel carousel-scroll-buttons carousel-scroll-markers gap-(--gap) max-md:full-bleed max-md:px-4">
  {%- liquid
    assign shown = 0
    for article_item in blog.articles
      if template.name == 'article' and article_item.id == article.id
        continue
      endif
      if shown >= section.settings.limit
        break
      endif

      content_for 'block', type: '_article-card', id: 'article-card', closest.article: article_item
      assign shown = shown | plus: 1
    endfor
  -%}
</ul>

<style>
  @scope {
    .article-list {
      --gap: {{ section.settings.gap }}px;

      li > :not(.article-image) {
        padding-inline: max(0px, calc(.5rem - var(--gap)));
      }
    }
  }
</style>

{% schema %}
{
  "name": "Article list",
  "tag": "article",
  "class": "section space-y-lh",
  "settings": [
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    }
  ],
  "blocks": [
    { "type": "_article-card" },
    { "type": "@theme" },
  ],
  "presets": [
    {
      "name": "Article list",
      "category": "Blog",
      "blocks": {
        "richtext": {
          "type": "richtext",
          "name": "Richtext",
          "settings": {
            "content": "<h2>Read this next</h2>"
          }
        }
      },
      "block_order": [
        "richtext"
      ]
    }
  ]
}
{% endschema %}
