<div
  class="@container/cart"
  data-cart-lines
  data-section-id="{{ section.id }}"
>
  {%- render 'cart-line-items' -%}
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}