<div
  class="@container/section space-y-lh"
  data-cart-lines
  data-section-id="{{ section.id }}"
>
  {%- unless cart.empty? -%}
    {% content_for 'block', type: '_cart-header', id: 'cart-content' %}
  {%- endunless -%}

  {%- render 'cart' -%}
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    { "type": "_cart-header" }
  ]
}
{% endschema %}
