{% content_for 'blocks' %}

{% schema %}
{
  "name": "Hero (backdrop)",
  "tag": "section",
  "settings": [],
  "blocks": [{ "type": "_hero-backdrop" }],
  "presets": [
    {
      "name": "Hero (backdrop)",
      "blocks": {
        "hero_backdrop": {
          "type": "_hero-backdrop",
          "name": "Hero",
          "settings": {
            "enable_scheduling": false
          },
          "blocks": {
            "richtext": {
              "type": "richtext",
              "name": "Richtext",
              "settings": {
                "content": "<h1>Heading 1</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
              }
            },
            "button_list": {
              "type": "button-list",
              "name": "Button list",
              "blocks": {
                "button": {
                  "type": "_button"
                }
              },
              "block_order": [
                "button"
              ]
            }
          },
          "block_order": [
            "richtext",
            "button_list"
          ]
        }
      },
      "block_order": [
        "hero_backdrop"
      ]
    }
  ]
}
{% endschema %}
