<div class="section grid gap-lh justify-center text-center">
  {%- if section.settings.content != blank -%}
    <div class="prose">
      {{ section.settings.content }}
    </div>
  {%- endif -%}

  {% form 'storefront_password', class: 'grid gap-2 max-w-2xl w-full mx-auto' %}
    <label>
      <span class="sr-only">Password</span>
      <input
        class="w-full p-[.25em_.5em] border"
        type="password"
        name="password"
        placeholder="Password"
        required
      >
    </label>

    <button class="action w-full" type="submit">
      Enter
    </button>

    {{ form.errors | default_errors }}

  {% endform %}
</div>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<h1>We'll be back soon.</h1>"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}
