@import "tailwindcss";

@theme {
  --font-primary: var(--font-primary);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-alert: red;

  --spacing-em: 1em;
  --spacing-lh: 1lh;
  --spacing-ch: 1ch;
}

@custom-variant hover (&:hover);

@variant menu-open (body:has(#menu-open:checked) &);
@variant menu-not-open (body:has(#menu-open:not(:checked)) &);

@layer base {
  :root {
    --header-height: 0px;
  }

  @supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }

    :open::details-content {
      height: auto;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-primary text-foreground bg-background;

    &:has(#menu-open:checked):has(.header-layout nav > details:open) {
      overflow: hidden;
    }
  }

  details {
    &::details-content {
      overflow: clip;
      transition-duration: var(--default-transition-duration);
      transition-property: content-visibility, block-size;
      transition-behavior: allow-discrete;
    }

    &:not(:open)::details-content {
      block-size: 0;
    }
  }

  summary {
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  label {
    cursor: pointer;
  }
}

/* typography */

@utility h-base {
  @apply font-bold;
}
@utility h0 {
  @apply h-base;
}
@utility h1 {
  @apply h-base;
}
@utility h2 {
  @apply h-base;
}
@utility h3 {
  @apply h-base;
}
@utility h4 {
  @apply h-base;
}
@utility h5 {
  @apply h-base;
}
@utility h6 {
  @apply h-base;
}

@utility prose {
  @apply space-y-em;

  h1 {
    @apply h1;
  }
  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
  h5 {
    @apply h5;
  }
  h6 {
    @apply h6;
  }
}

/* ctas, links, inputs */

@utility action-base {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  padding: 0.25em 0.5em;
  border: 1px solid transparent;
  @apply active:scale-98 transition-all;
}

@utility action {
  @apply action-base bg-primary text-primary-foreground;
}

@utility action-outline {
  @apply action-base bg-secondary text-secondary-foreground border-current;
}

@utility ghost {
  @apply action-base text-inherit bg-primary/2 hover:bg-primary/5;
}

@utility link {
  @apply cursor-pointer text-primary underline hover:decoration-2;
}

/* components */

@utility section {
  width: 100%;
  max-width: var(--section-width);
  padding: var(--section-vertical-padding) var(--section-horizontal-padding);
  @apply mx-auto;
}

@utility accordion {
  & > summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    & svg {
      @apply shrink-0 transition-[rotate];
    }
  }

  &:open > summary svg {
    rotate: 0.5turn;
  }
}

@utility dropdown {
  summary {
    anchor-name: var(--anchor-name);
  }

  > :not(summary) {
    position-anchor: var(--anchor-name);
    position-area: end span-end;
    position-try-fallbacks:
      end span-start,
      flip-block;
    position-try:
      end span-start,
      flip-block;

    @apply anim-fade fixed z-1 min-w-max bg-background shadow-lg origin-top starting:-translate-y-1 starting:scale-95;
  }
}

@utility pagination {
  @apply flex items-center justify-center gap-4;

  a:hover {
    text-decoration: underline;
  }

  .current {
    @apply font-bold underline;
  }
}

@utility carousel {
  --anchor-name: attr(data-anchor-name type(<custom-ident>), --carousel);
  anchor-name: var(--anchor-name);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(var(--container-xs), 80vw);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  @apply *:md:snap-start *:snap-center;
}

@utility carousel-scroll-buttons {
  @supports (position-anchor: var(--anchor-name)) {
    @apply no-scrollbar;

    &::scroll-button(*) {
      cursor: pointer;
      position: absolute;
      position-anchor: var(--anchor-name);
      z-index: 1;
      display: block;
      aspect-ratio: 1;
      width: 1.5lh;
      margin-inline: -100%;
      background-color: currentColor;
    }

    &::scroll-button(left) {
      content: "" / "Scroll left";
      position-area: center start;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48zm62.63 304L296 374.63 177.37 256 296 137.37 318.63 160l-96 96z'/%3E%3C/svg%3E")
        center / cover;
    }

    &::scroll-button(right) {
      content: "" / "Scroll right";
      position-area: center end;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48zm-40 326.63L193.37 352l96-96-96-96L216 137.37 334.63 256z'/%3E%3C/svg%3E")
        center / cover;
    }
  }
}

@utility carousel-scroll-marker {
  --size: 12px;
  scroll-marker-group: after;

  &::scroll-marker-group {
    position: absolute;
    position-anchor: var(--anchor-name);
    top: calc(anchor(bottom) + 1rem);
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 0.5ch;
  }

  & > * {
    &::scroll-marker {
      content: "";
      @apply bg-foreground/25 block size-1 rounded-full;
    }

    &::scroll-marker:target-current {
      @apply bg-foreground w-[2ch] opacity-100;
    }
  }
}

/* utilities */

@utility full-bleed {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility sticky-below-header {
  position: sticky;
  top: calc(var(--header-height) + var(--offset, 0px));
}

/* anims */

@utility anim-fade {
  transition: var(--default-transition-duration)
    var(--default-transition-timing-function);
  transition-property: opacity, translate, scale;
  @apply starting:opacity-0;
}

@utility anim-fade-to-l {
  @apply anim-fade starting:translate-x-4;
}

@utility anim-fade-to-r {
  @apply anim-fade starting:-translate-x-4;
}

@utility anim-fade-to-t {
  @apply anim-fade starting:translate-y-4;
}

@utility anim-fade-to-b {
  @apply anim-fade starting:-translate-y-4;
}
