@import 'tailwindcss';

@theme {
  --font-primary: var(--font-primary);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
}

@custom-variant hover (&:hover);

@variant menu-open (body:has(#menu-open:checked) &);
@variant menu-not-open (body:has(#menu-open:not(:checked)) &);

@layer base {
  @supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }

    :open::details-content {
      height: auto;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-primary;
  }

  details {
    &::details-content {
      overflow: clip;
      transition-duration: var(--default-transition-duration);
      transition-property: content-visibility, block-size;
      transition-behavior: allow-discrete;
    }

    &:not(:open)::details-content {
      block-size: 0;
    }
  }

  summary {
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  label {
    cursor: pointer;
  }
}

/* layout */

@utility section {
  @apply mx-auto max-w-(--section-width);
}

/* components */

@utility accordion {
  &>summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    & svg {
      @apply shrink-0 transition-[rotate];
    }
  }

  &:open>summary svg {
    rotate: .5turn;
  }
}

@utility dropdown {
  summary {
    anchor-name: var(--anchor-name);
  }

  > :not(summary) {
    position-anchor: var(--anchor-name);
    position-area: end span-end;
    position-try-fallbacks: end span-start, flip-block;
    position-try: end span-start, flip-block;

    @apply anim-fade fixed z-1 min-w-max bg-background shadow-lg origin-top starting:-translate-y-1 starting:scale-95;
  }
}

/* anims */

@utility anim-fade {
	transition: var(--default-transition-duration) var(--default-transition-timing-function);
	transition-property: opacity, translate, scale;
	@apply starting:opacity-0;
}

@utility anim-fade-to-l {
	@apply anim-fade starting:translate-x-4;
}

@utility anim-fade-to-r {
	@apply anim-fade starting:-translate-x-4;
}

@utility anim-fade-to-t {
	@apply anim-fade starting:translate-y-4;
}

@utility anim-fade-to-b {
	@apply anim-fade starting:-translate-y-4;
}
