{% layout none %}
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <title>{{ gift_card.balance | money }}</title>
  {{ content_for_header }}
</head>
<body>
  <p>{{ gift_card.code }}</p>
</body>
</html>
